absl-py==0.7.1
appnope==0.1.0
astor==0.7.1
astroid==2.2.5
attrs==19.1.0
awacs==0.8.3
aws-sam-translator==1.10.0
awscli==1.15.85
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.1.0
boto3==1.7.84
botocore==1.10.84
certifi==2019.3.9
cfn-flip==1.2.0
cfn-lint==0.17.0
chardet==3.0.4
Click==7.0
cliff==2.8.2
cmd2==0.9.11
colorama==0.3.9
configparser==3.7.3
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
docopt==0.6.2
docutils==0.14
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
flake8-docstrings==1.3.0
flake8-polyfill==1.0.2
Flask==1.0.2
Flask-Cors==3.0.7
formic2==1.0.3
future==0.17.1
gast==0.2.2
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
greenlet==0.4.15
grpcio==1.19.0
h5py==2.9.0
idna==2.8
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.4
jsonpatch==1.23
jsonpointer==2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kaggle==1.5.3
kaggle-cli==0.12.13
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.0.0
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
MechanicalSoup==0.8.0
mistune==0.8.4
mock==2.0.0
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.6
numpy==1.16.2
opencv-python==4.0.0.21
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
pathspec==0.5.9
pbr==5.1.3
pep8-naming==0.8.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
ply==3.11
prettytable==0.7.2
progressbar2==3.34.3
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.0
ptyprocess==0.6.0
pyasn1==0.4.5
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.1
Pygments==2.3.1
pyhcl==0.3.12
pylint==2.3.1
pyparsing==2.3.1
pyperclip==1.7.0
pyrsistent==0.14.11
python-dateutil==2.8.0
python-slugify==3.0.0
python-utils==2.3.0
pytz==2018.9
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
rsa==3.4.2
runway==0.44.3
runway-python==0.0.51
s3transfer==0.1.13
schematics==2.0.1
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
stacker==1.6.0
stevedore==1.30.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.2
tornado==6.0.1
tqdm==4.31.1
traitlets==4.3.2
troposphere==2.4.6
typed-ast==1.3.1
typing==3.6.6
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.4.2
wrapt==1.11.1
yamllint==1.15.0
zgitignore==0.8.2
